@import "tailwindcss";

body {
  margin: 0;
  background-image: linear-gradient(rgba(1, 0, 72, 0.85), rgba(1, 0, 72, 0.85)), url('/img/bg-ocean.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

@font-face {
  font-family: 'Spongeboy';
  src: url('/font/Spongeboy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-bob {
  font-family: 'Spongeboy', sans-serif;
}

.text-yellow {
  color: #fff67b !important;
}

.topbar-height {
  height: calc(100vh - 5rem) !important;
}

.my-container {
  background-color: rgba(1, 0, 72, 0.75);
  border-radius: 8px;
  margin: auto;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 70%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-bg {
    background-color: rgba(1, 0, 72, 0.75);
}

@media (min-width: 1850px) {
    .responsive-label {
        font-size: 1.5rem !important;

    }

    .big-title {
        background-size: cover !important;
    }

}


.my-container-dev {
  background-color: rgba(1, 0, 72, 0.75);
  border-radius: 8px;
  margin: auto;
  padding: 1rem;
  width: 80%;
  text-align: center;
}

.my-container-dev {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.my-container-dev::-webkit-scrollbar { 
  display: none;  
}

.my-table-container {
  width: 70%;
  overflow-x: auto;
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 600px) {
  .my-table-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.my-table-container {
  width: 70%;
  overflow-x: auto;
  margin: 0 auto;
}

.inner-table {
  margin-left: auto;
  margin-right: auto;
}

.inner-table th {
  font-family: 'Spongeboy';
  border: 1px solid #ddd;
}

.inner-table td {
  border: 1px solid #ddd;
}


.my-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 8px;
}

.my-table th,
.my-table td {
  padding: 12px 15px;
}

.my-table th {
  color: #FFEB7A;
}

.my-table thead th {
  font-weight: bold;
}

.my-table tbody tr:nth-child(even) {}

.my-table tbody tr.clicked {
  color: #FFEB7A;
  background-color: #161563;
}

.my-table tbody tr:hover {}


.hover\:text-\[\#FFD700\]:hover {
  color: #FFD700;
}

/* Responsive styles */
@media (max-width: 600px) {
  .my-table-container {
    width: 95% !important;
    padding: 1.5rem;
  }

  .my-table th,
  .my-table td {
    border: 1px solid #ddd;
  }

  .my-table thead {
    display: none;
  }

  .my-table,
  .my-table tbody,
  .my-table tr,
  .my-table td {
    display: block;
    width: 100%;
  }

  .my-table tr {
    margin-bottom: 15px;
  }

  .my-table td {
    text-align: center;
    position: relative;
  }

  .my-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .inner-table {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-top: 5%;
  }



  .ext-cols {
    display: none !important;
    width: 0;
    height: 0;
  }

  .hide-big {
    display: none !important;
  }

}


.styled-select {
  margin-top: 1rem;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.styled-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
